@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));

@theme {
  /* Your custom theme configuration goes here */
  --font-family-sans: Nunito, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif;

  /* Add your custom colors as CSS variables */
  --color-primary-dark-grey: #333;
  --color-primary-grey: #666;
  /* ... etc */
}

/* Your custom CSS */
